.bicycle-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%
}

.bicycle-item {
  width: 200px;
  height: 180px;
  box-shadow: -10px 20px 20px -10px rgb(67, 109, 3);
  text-align: center;
}